<div>
    <div>
        <h1>Directives</h1>
    </div>
    <!-- Structural Directives -->
    <div>
        <h3> Structural Directives</h3>
    </div>
    <!-- NgIF -->
    <div>
        <input type="text" *ngIf="isInputNeeded" placeholder="Input field is true!" />

    </div>
    <br />
    <!-- NgFor -->
    <div>
        <div *ngFor="let product of products">{{product}}</div>
    </div>
    <br />
    <div>
        <h4>Attribute Directives</h4>
    </div>
    <!-- ngClass -->
    <!-- ngStyle -->
    <!-- ngModel -->
    <!-- ngTemplateOutlet -->
</div>