<div class="container">
    <div class="heading">
        <h2>Template-driven forms</h2>
    </div>
    <form #userForm="ngForm" class="example-form" (ngSubmit)="submitForm(userForm)">
        <div class="inputFields">
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="userDetails.name" name="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="userDetails.email" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="userDetails.address" name="address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Mobile</mat-label>
                <input matInput [(ngModel)]="userDetails.mobile" name="mobile">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>District</mat-label>
                <input matInput [(ngModel)]="userDetails.district" name="district">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <input matInput [(ngModel)]="userDetails.state" name="state">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Country</mat-label>
                <input matInput [(ngModel)]="userDetails.country" name="country">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Zipcode</mat-label>
                <input matInput [(ngModel)]="userDetails.zipcode" name="zipcode">
            </mat-form-field>
            <div class="example-full-width">
                <button type="submit" class="btn-primary" mat-raised-button color="primary">Submit form</button>
            </div>
        </div>
    </form>
</div>